body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
  color: #ff5050;

}

#titlepadding {
  margin-top: 10px;
  padding-top: 10px;
}
font-family: 'Shadows Into Light', cursive;
font-family: 'Open Sans', sans-serif;

#navspadding {
  margin-top: 15px;
  padding-top: 15px;
}

.col-md-4{
	margin-bottom: 30px;
}